
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  padding-top: 200px;
  font-size: 40px;
}

p {
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding-top: 150px;
  line-height: 1.3;
  width: 50%;
  font-family: 'Orelega One', cursive;
  color: #87ceff;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */

.bg {
  background-image: linear-gradient(green, blue);
  height: 100%;
  width: 100%;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.white-box {
    background-color: white;
    color: black;
    <!--other positioning attributes-->
}
